.displayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #396ec9;
    border: 3px solid #5825e6;
    padding: 10px 14px 12px;
    font-weight: 700;
    border-radius: 10px;
    width: 250px;
  }

  .buttonsContainer {
    flex-direction: row;

    .buttonClick,
    .buttonStart,
    .buttonStop {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }

    .buttonClick:disabled,
    .buttonStart:disabled,
    .buttonStop:disabled {
      cursor: default;
    }

    .buttonClick {
      background-color: #4caf50;
      color: white;

      &[disabled] {
        background-color: #75b278;
      }
    }

    .buttonStart {
      background-color: #2196f3;
      color: white;

      &[disabled] {
        background-color: #9bc3ea;
      }
    }

    .buttonStop {
      background-color: #f44336;
      color: white;

      &[disabled] {
        background-color: #eaaeaa;
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  .input {
    width: 40%;
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0.5rem auto;
  }
}
